<h3 class="text-center"><u>Viking Search</u></h3>
{{#if queryString}}
  <h4 class="text-center">{{queryString}}</h4>
{{/if}}
<div class="col-sm-12" id="search-nav">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#basics">Basics</a></li>
    <li><a data-toggle="tab" href="#location">Location</a></li>
    <li><a data-toggle="tab" href="#misc">Misc</a></li>
    <li><a data-toggle="tab" href="#sort">Sort</a></li>
  </ul>

  <form id="search-form" action="/search" method="GET">
    <div class="tab-content col-sm-12">
      <div id="basics" class="tab-pane fade in active">
        <div class="form-group pull-left col-sm-2">
          <input type="radio" name="profile[gender]" value="male"> Male</input><br>
          <input type="radio" name="profile[gender]" value="female"> Female</input>
        </div>

        <div class="form-group pull-left col-sm-3">
          <input name="profile[minAge]" type="number", placeholder="Minimum Age" class="form-control bottom-room">
          <input name="profile[maxAge]" type="number", placeholder="Maximum Age" class="form-control">
        </div>

        <div class="form-group pull-left col-sm-3">
          <select class="heights form-control bottom-room" name="profile[minHeight]">
            <option selected="true" disabled="disabled">Minimum Height</option>
          </select>
          <select class="heights form-control" name="profile[maxHeight]">
            <option selected="true" disabled="disabled">Maximum Height</option>
          </select>
        </div>

        <div class="form-group pull-left col-sm-3">
          <select id="bodytype" name="profile[bodyType]" class="form-control">
            <option selected="true" disabled="disabled">Body Type</option>
          </select>
        </div>
      </div>
      <div id="location" class="tab-pane fade">
        <p id="location-finder">
          Within <input type="number" name="profile[location][distance]" class="form-control" placeholder="0"> miles of
            <select id="city" name="profile[location][city]" class="form-control">
              <option selected="true" disabled="disabled">City</option>
              {{debug location}}
              {{#each locations as |location|}}
                <option value="{{location.city}}::{{location.distance}}">{{location.city}}</option>
              {{/each}}
            </select>
        </p>
      </div>
      <div id="misc" class="tab-pane fade">
        <div class="form-group pull-left col-sm-3">
          <select id="school" name="profile[school]" class="form-control">
            <option selected="true" disabled="disabled">School</option>
          </select>
        </div>

        <div class="form-group pull-left col-sm-3">
          <select id="children" name="profile[maxChildren]" class="form-control">
            <option selected="true" disabled="disabled">Max # of Children</option>
          </select>
        </div>

        <div class="form-group pull-left col-sm-3">
          <select id="interest" name="profile[interest]" class="form-control">
            <option selected="true" disabled="disabled">Interest</option>
          </select>
        </div>
      </div>
      <div id="sort" class="tab-pane fade">
        <div class="form-group pull-left col-sm-3">
          <select id="sortBy" name="profile[sort]" class="form-control">
            <option selected="true" disabled="disabled">Sort By</option>
            <option value="distance">Distance</option>
            <option value="age">Age</option>
            <option value="lastLogin">Last Login</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" id="search-btn" class="btn btn-primary clear">Search</button>
  </form>
</div>

<hr class="clear">
{{#if profiles}}
  {{#each profiles as |profile|}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{profile.img}}" class="search-img">
        <div class="caption text-center">
          <h3><a href="/profiles/{{profile.User.id}}">{{profile.User.username}}</a></h3>
          <a href="#">Like?</a>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <h4>No Results - Use the form above to search</h4>
{{/if}}
<script type="text/javascript" src="/formSetup.js"></script>
